<ion-view view-title="Twitter Feed">
    <ion-content style="color: #fff; background-image: url('img/grass.png'); background-position: bottom; background-size: cover;">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23wcpcup%20OR%20%40wcpcup" data-widget-id="579796327871209472">Tweets about #wcpcup OR @wcpcup</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </ion-content>
</ion-view>